<div class = "home">
  <h1>Looking to go in a new direction? Consider Tech.</h1>
</br>
  <a href = "/profiles"<img src="http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/10/mountains.jpg" alt="dummy photo" height= "400" width= "400" /></a>

  <a href = "/quiz"><button>Find your Tech Field</button></a>
</div>
