/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  font-family:'Muli', sans-serif;
}

header{
  background:rgb(17, 158, 158);
  color:rgb(255, 255, 255);
  margin-left:-.5%;
  margin-top:-1.4%;
  padding:1%;
}

header a{
  color:rgb(255, 255, 255);
  text-decoration:none;
}

header h1{
  font-size:3em;
}

header a:hover{
  color:red;
}

.subheader{
  background:rgb(249, 204, 177);
  padding:1%;
  margin-left:-.5%;
  margin-top:-.5%;
}

.subheader h1, h2{
  text-align:center;
}

.subheader h1{
  font-size:3em;
}

.container {
  margin-left:18%;
  width:70%;
}
.container h2{
  text-align:left;
}
