/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: #E5E5E5;
  font-family: Helvetica, 'Muli', sans-serif;
}

header{
  background: rgb(17, 158, 158);
  color: rgb(255, 255, 255);
  margin-left: -.5%;
  margin-top: -1.4%;
  padding: 1%;
}

header a{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

header h1{
  font-size: 3em;
}

header a:hover{
  color: red;
}

.subheader{
  background: rgb(249, 204, 177);
  padding: 1%;
  margin-left: -.5%;
  margin-top: -.5%;
}

.subheader h1, h2{
  text-align: center;
}

.subheader h1{
  font-size: 3em;
}

.container {
  margin-left: 18%;
  width: 70%;
}
.container h2{
  text-align: left;
}

h2 {
  font-family: Futura, "Open Sans", sans-serif;
  font-weight: 800;
}

/********** SHOW PAGE **********/

.stats_container, .article_container, .meetup_container {
  border-bottom: 1px #319FEE solid;
}

.stats_title, .article_title {
  font-weight: bold;
}

.article_title {
  margin-bottom: -10px;
}

.article_individual, .meetup_individual {
  display: inline-block;
  width: 32%;
}

.article_img, .meetup_img {
  height: 100px;
  width: 100px;
  border: 5px #319FEE solid;
  border-radius: 50%;
  overflow: hidden;
}

.meetup_title a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.comments_container textarea {
  width: 300px;
  height: 50px;
  border: 1px #319FEE solid;
  border-radius: 5px;
}

.comments_container input[type=submit] {
  display: block;
  border: none;
  border-radius: 5px;
  background-color: #319FEE;
  color: white;
  font-weight: bold;
}

.comments_individual {
  border-left: 5px #319FEE solid;
  padding-left: 10px;
}

.comments_username {
  margin-bottom: -10px;
  font-weight: bold;
}

.comments_edit_delete {
  display: block;
  margin: -10px 0 20px 0;
  font-weight: bold;
}

.profile_container{
  /*width: 70%;*/
  /*margin-left: 10%;*/
}

/*.profile_container img{
  width:250px;
  height:250px;
}*/

.profile_individual {
  display:inline-block;
  width:32%;
}

.profile_img {
  height: 200px;
  width: 200px;
  overflow:hidden;
}

.profile_img img{
  height:200px;
  width:200px;
}
