<!DOCTYPE html>
<html>
<head>
  <title>NotInTechYet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <a href = "/"><h1>Not in Tech... Yet</h1></a>
  </br>
    <a href = "/profiles">Profiles</a>
    <a href = "/quiz">Quiz</a>
    <a href = "/results/1">Resources</a>
    <a href = "/users/sign_in">Login</a>
  </header>

<%= yield %>

</body>
</html>
